<%= render 'shared/page_title', title: "Group chat" %>

<div class="row chat-containter">
  <div class="col-md-8 center-block">
    <div class="messages" id="messages">
      <%= render @messages %>
    </div>
    <hr/>
    <div class="message-container">
      <%= form_for(@message, remote: true, :html => {class: "form-horizontal", role: "form"}) do |f| %>
          <%= f.text_area :content, class: "form-control", placeholder: "Say something" %>
          <%= f.submit "Send", class: "btn btn-primary" %>
      <% end %>
    </div>
  </div>
</div>